main{
	overflow-x: hidden;
}

body{
	margin:0px;
	overflow-x: hidden;
}

.page{
	margin:0px;
	padding:25vw;
	padding-top:0px;

	height:70vh;
}


h1{
	font-size: 5vw;
	font-family: 'Playfair Display', serif;
	font-style: italic;

	margin:1vw;
	margin-bottom:2vw;

}

h2{
	font-size: 3vw;
	font-family: 'Playfair Display', serif;
	font-style: italic;

	margin:1vw;


}


p{
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;

	margin:1vw;
}



.header{

	display:inline-block;
	margin:0px;

	padding:2vw;
	padding-bottom:0px;

	line-height: 1.5
}



.dropdowns{
	display: flex;
	flex-direction: column;
	padding:2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}


.dropdown:hover{
	transform: translate(3vw);
	transition: .5s; 
}



.dropdown-content {
  display: none;
  max-height:50vh;
  width:40vw;
  max-width:99vw;
  /*background-color: lightgrey;
  position: relative;*/
  overflow-x: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow-x: hidden;
}




.footer{

	position:absolute;

	width:100%;

	text-align: center;

	padding-bottom:3vw;

	bottom:0;
}



										@media screen and (max-width: 1200px) {

										main{
											overflow-x: hidden;
										}

										body{
											margin:0px;
											overflow-x: hidden;
										}

										/*.page{
											margin:0px;
											padding:2vw;

											height: 100vh;
										}*/


										h1{
											font-size: 10vw;
											font-family: 'Playfair Display', serif;
											font-style: italic;

											margin:1vw;
											margin-bottom:2vw;

										}

										h2{
											font-size: 8vw;
											font-family: 'Playfair Display', serif;
											font-style: italic;

											margin:1vw;
											margin-bottom:2vw;


										}


										p{
											font-size: 5vw;
											font-family: 'Roboto', sans-serif;

											margin:1vw;
										}



										.header{

											display:inline-block;
											

											margin:0px;

											padding:2vw;

											line-height: 1.5
										}



										.dropdowns{
											padding:2vw;
											padding-top:4vw;
										}

										.dropdown {
										  position: relative;
										  display: inline-block;
										  z-index: 1;
										}


										.dropdown:hover{
											transform: translate(7vw);
											transition: .5s; 
										}



										.dropdown-content {
										  display: none;
										  max-height:50vh;
										  width:75vw;
										  /*background-color: lightgrey;
										  position: relative;*/
										  padding: 2vw;
										  overflow-x: hidden;
										}

										.dropdown:hover .dropdown-content {
										  display: block;
										  overflow-x: hidden;
										}




										.footer{

											position:absolute;

											width:100%;

											text-align: center;

											padding-bottom:3vw;

											bottom:0;
										}





