body{
	margin:0px;
}


h1{
	font-size: 10vw;

	font-family: 'Playfair Display', serif;

	margin:0px;

}

p{
	font-size: 8vw;

	font-family: 'Roboto', sans-serif;

	margin:0px;
}



.header{
	height:50vh;
	background-color: red;
	margin:0px;

	padding:2vw;
}